<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>CONTROLE DE LOTES OPCENTER</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-container">
    <div class="login-panel">
        <div class="left-content">
            <h2>Precisão, controle e excelência operacional.</h2>
            <p>Tecnologia que transforma resultados.</p>
        </div>
    </div>
    <div class="login-card">

        <img src="/images/logo.png" alt="Logo" class="logo">
    <h1>CONTROLE DE LOTES OPCENTER</h1>
    <form method="post" action="/login">
        <input type ="text" name="username" placeholder="Usuário" required>
        <input type ="password" name="password" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>
        </div>
</div>
</body>
</html>